@use '../utils/mixins';
@use '../utils/variables' as v;

.button-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding-bottom: 80px;

  @include mixins.on-tablet {
    padding-bottom: 100px;
  }

  @include mixins.on-desktop {
    padding-bottom: 120px;
  }

  &__title {
    background-color: #fff;
  }

  &__explore {
    height: 56px;
    width: 278px;
    border-radius: 40px;

    font-family: v.$font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    color: v.$menu-text-color;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    @include mixins.on-tablet {
      width: 352px;
    }
  }

  &__explore:hover {
    transform: translateY(-3px);
  }

  &__send {
    height: 56px;
    width: 100%;
    margin-top: 24px;
    border-radius: 40px;
    font-family: v.$font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    color: v.$menu-text-color;

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &__send:hover {
    transform: translateY(-5px);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}
