@use '../utils/mixins';
@use '../utils/variables' as v;

.contacts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 48px;
  padding-bottom: 120px;

  // @include mixins.page-grid;

  @include mixins.on-tablet {
    flex-direction: row;
    column-gap: 24px;
    padding-bottom: 102px;
  }

  @include mixins.on-desktop {
    flex-direction: row;
    column-gap: 189px;
    padding-bottom: 164px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    // align-items: stretch;

    row-gap: 16px;
    width: 280px;
    height: 364px;

    @include mixins.on-tablet {
      width: 288px;
      height: 382px;
    }

    @include mixins.on-desktop {
      width: 382px;
      height: 411px;
    }

    &__input--name {
      box-sizing: border-box;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-family: v.$font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;
      width: 100%;

      @include mixins.input-field;

      height: 48px;
      border-radius: 40px;

      background-color: #fff;
      padding-left: 16px;
      color: v.$placeholder-text-color;
    }

    &__input--email {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-family: v.$font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;

      @include mixins.input-field;

      width: 100%;
      height: 48px;
      border-radius: 40px;

      background-color: #fff;
      padding-left: 16px;
      color: v.$placeholder-text-color;
    }

    &__input--message {
      font-family: v.$font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0;

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include mixins.input-field;

      width: 100%;
      height: 148px;
      border-radius: 16px;

      background-color: #fff;
      padding-left: 16px;
      padding-bottom: 95px;
      color: v.$placeholder-text-color;
    }
  }
}

.contact-block {
  width: 280px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 24px;

  @include mixins.on-tablet {
    align-self: flex-start;
  }

  @include mixins.on-desktop {
    align-self: flex-start;
    padding-right: 100px;
  }
}

.contact-info {
  display: block;
  flex-direction: column;
  justify-content: baseline;
  row-gap: 8px;

  color: v.$main-text-color;
  font-family: v.$font-family;
  text-decoration: none;

  &__item {
    padding-bottom: 24px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    text-decoration: none;

    // font-weight: 500;

    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0;
    font-style: normal;
  }

  &__value {
    color: v.$main-text-color;

    &--phone {
      text-decoration: none;
      font-family: v.$font-family;
      font-size: 16px;
      font-style: normal;
      transition: color 0.3s ease;
      color: v.$main-text-color;
    }

    &--phone:hover {
      color: rgb(145, 154, 231);
    }

    &--email {
      text-decoration: none;
      color: v.$main-text-color;
      transition: color 0.3s ease;

      // font-weight: 500;

      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      font-style: normal;
    }

    &--email:hover {
      color: rgb(145, 154, 231);
    }

    &--text {
      text-decoration: none;
      color: v.$main-text-color;

      // font-weight: 500;

      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      font-style: normal;
      transition: color 0.3s ease;
    }

    &--text:hover {
      color: rgb(145, 154, 231);
    }
  }
}

.contact-us {
  padding-bottom: 48px;
  margin: 0;
  font-family: v.$font-family;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;

  @include mixins.on-tablet {
    font-size: 48px;
    line-height: 100px;
    font-weight: 500;
  }

  @include mixins.on-desktop {
    font-size: 48px;
    line-height: 100px;
    font-weight: 600;
  }
}

input::placeholder {
  color: #7e7e83;
  opacity: 1;
}
