@use '../utils/mixins';
@use '../utils/variables' as v;

.contacts-section {
  // box-sizing: border-box;
  // width: auto;
  // height: auto;
  // background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;

  @include mixins.on-tablet {
    flex-direction: row;
    column-gap: 24px;
    padding-bottom: 102px;
  }

  @include mixins.on-desktop {
    flex-direction: row;
    column-gap: 189px;
    padding-bottom: 164px;
  }

  &__form {
    width: 280px;
    height: 384px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

    &__input--name {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include mixins.input-field;

      width: 278px;
      height: 48px;
      border-radius: 40px;

      background-color: #fff;
      padding-left: 16px;
      color: v.$placeholder-text-color;
    }

    &__input--email {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include mixins.input-field;

      width: 278px;
      height: 48px;
      border-radius: 40px;

      background-color: #fff;
      padding-left: 16px;
      color: v.$placeholder-text-color;
    }

    &__input--message {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @include mixins.input-field;

      width: 278px;
      height: 48px;
      border-radius: 40px;

      background-color: #fff;
      padding-left: 16px;
      color: v.$placeholder-text-color;
    }
  }
}

.contact-block {
  width: 280px;

  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  color: v.$main-text-color;
  font-family: v.$font-family;
  text-decoration: none;

  &__label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
  }

  &__value {
    color: v.$main-text-color;

    &--phone {
      text-decoration: none;
      color: v.$main-text-color;
      transition: color 0.3s ease;
    }

    &--phone:hover {
      color: rgb(145, 154, 231);
    }

    &--email {
      text-decoration: none;
      color: v.$main-text-color;
      transition: color 0.3s ease;
    }

    &--email:hover {
      color: rgb(145, 154, 231);
    }

    &--text {
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      color: v.$main-text-color;
      transition: color 0.3s ease;
    }

    &--text:hover {
      color: rgb(145, 154, 231);
    }
  }
}

.contact-us {
  margin: 0;
  font-family: v.$font-family;
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: center;
}
