@use '../utils/mixins';
@use '../utils/variables' as v;

.details {
  &__wrapper {
    display: grid;

    row-gap: 40px;
    padding-bottom: 40px;

    @include mixins.on-tablet {
      padding-bottom: 48px;
      row-gap: 64px;
    }
  }

  &__paragraph {
    margin: 0;
    color: v.$main-text-color;
    font-family: v.$font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}

.detail {
  display: grid;
  margin: 0;

  &__paragraph {
    margin: 0;
    padding: 16px 0 8px;
  }

  &__photos {
    @include mixins.page-grid;
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &__photo:hover {
    transform: translateY(-2px);
    transform: scale(1.04);
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__paragrapf {
    margin: 0;
  }

  .wraper-title {
    @include mixins.page-grid;
  }

  &__title {
    margin: 0;
    line-height: 140%;
    font-family: v.$font-family;
    font-weight: 400;
    font-size: 16px;
    grid-column: span 2;

    @include mixins.on-tablet {
      grid-column: span 6;
    }

    @include mixins.on-desktop {
      grid-column: span 8;
    }
  }

  &__link {
    &--square {
      @include mixins.on-tablet {
        grid-column: span 2;
      }

      @include mixins.on-desktop {
        grid-column: span 4;
      }
    }

    &--wide {
      @include mixins.on-tablet {
        grid-column: span 4;
      }

      @include mixins.on-desktop {
        grid-column: span 8;
      }
    }
  }
}
