@use '../utils/mixins';
@use '../utils/variables' as v;

.footer-background {
  width: 100vw;
  background-image: url(../images/footer-background.png);

  background-repeat: no-repeat;
  background-position: 82% 50%;
  background-size: 137%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  overflow: hidden;

  @include mixins.on-tablet {
    height: 480px;
    background-position: 100% 50%;
    background-size: 150%;
  }

  @include mixins.on-desktop {
    height: 555px;
    background-position: 100% 50%;
    background-size: 100%;
  }
}
