@use '../utils/mixins';

.icon {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../images/cover_photo.png);
  background-size: cover;

  &--phone {
    background-image: url(../images/icons/Icon-Phone-call.png);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &--phone:hover {
    transform: translateY(-5px);
    transform: rotate(90deg);
  }

  &--menu {
    background-image: url(../images/icons/Icon-Burger-menu.png);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &--menu:hover {
    transform: translateY(-5px);
    transform: rotate(90deg);
  }

  &--close {
    background-image: url(../images/icons/close.png);
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  &--close:hover {
    transform: rotate(90deg);
  }

  @include mixins.on-tablet {
    width: 32px;
    height: 32px;
  }

  @include mixins.on-desktop {
    width: 32px;
    height: 32px;
  }
}
