@use '../utils/mixins';
@use '../utils/variables' as v;

.section-title {
  display: grid;
  padding-bottom: 28px;
  font-size: 32px;
  text-align: center;
  row-gap: 32px;
  margin: 0;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -1.5px;

  @include mixins.on-tablet {
    padding-top: 120px;
    padding-bottom: 64px;

    font-size: 48px;
  }

  @include mixins.on-desktop {
    padding-top: 144px;
    font-size: 64px;
  }
}

.move-free {
  @include mixins.page-grid;

  font-family: v.$font-family;
  font-weight: 500;
  row-gap: 35px;

  &__title {
    justify-self: start;
    font-size: 32px;
    grid-column: 1 / -1;
    line-height: 100%;

    @include mixins.on-tablet {
      grid-column: 1 / 4;
      font-size: 48px;
      padding-bottom: 32px;
    }

    @include mixins.on-desktop {
      font-size: 64px;
      grid-column: 1 / 6;
      padding-top: 120px;
    }
  }

  &__speech {
    max-width: 500px;
    margin: 0;

    font-size: 23px;
    line-height: 140%;
    letter-spacing: 1px;

    // margin-bottom: 64px;
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 4 / -1;
      font-size: 23px;
      padding-top: 120px;
    }

    @include mixins.on-desktop {
      grid-column: 6 / -1;
      font-size: 23px;
      padding-top: 120px;
    }

    &--align--left {
      text-align: left;
      justify-self: start;
    }
  }
}
