@use '../utils/variables' as v;

.nav {
  &__link {
    font-size: 22px;
    line-height: 22px;
    color: v.$menu-text-color;
    text-decoration: none;
    letter-spacing: 2px;

    transition: color 0.3s ease;
  }

  &__link:hover {
    color: v.$main-text-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
    padding: 0;

    list-style: none;
  }
}
