@use '../utils/mixins';
@use '../utils/variables' as v;

.product {
  padding-inline: 0;

  @include mixins.on-tablet {
    padding-inline: 176px;
  }

  @include mixins.on-desktop {
    padding-inline: 0;
  }

  &__name {
    font-family: v.$font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__description {
    font-family: v.$font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__price {
    font-family: v.$font-family;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0;
  }

  &__photo {
    width: 100%;
  }
}

.button__card {
  width: 51px;
  height: 50px;
}
