@use '../utils/mixins.scss';

.recommendet {
  &__product {
    display: grid;
    row-gap: 40px;

    @include mixins.on-tablet {
      justify-items: center;
    }

    @include mixins.on-desktop {
      grid-template-columns: repeat(3, 1fr);
      place-items: start stretch;

      column-gap: 24px;
    }
  }
}
