@use '../utils/mixins';

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 24px;

  @include mixins.on-tablet {
    padding-block: 64px;
  }
  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    display: flex;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }
  &__logo:hover {
    display: flex;
    transform: translateY(-5px);
  }
}
